 //--------------------------------------------------------
 //          COLOR DEFINITION
 //--------------------------------------------------------

$color-primary:                #ffc107;
$color-secondary:              #6c757d;

$color-snow:                   #FFFFFF;
$color-pearl:                  #EFF1F2;
$color-smoke:                  #D7D8DB;
$color-fossil:                 #8F8F9A;
$color-iron:                   #5b5b62;
$color-shadow:                 #3b3b40;
$color-ink:                    #000000;
